#carousel {
    width: 100%;
}
.carousel-main {
    width: 100%;
}
#carousel-image-text {
    position: absolute;
    top: 1050px;
    left: 400px;
}
#carousel-history {
    position: relative;
    bottom: 30px;
    right: 25px;
}
#carousel-image-text > p {
    width: 800px;
    padding-left: 60px;
}
#carousel-box {
    background-color: rgba(53, 66, 89, 0.609);
    position: relative;
    bottom: 220px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#carousel-box > img {
    padding-left: 5px;
    padding-right: 5px;
}